main{
    width: 100%;
    min-height: 100vh;
    display: grid;
    justify-items: center;
}

.menuCtn{
    width: min(1200px, 90%);
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: fit-content;
    padding-bottom: 20px;
    border-bottom: 1px solid #09f;
}

h2{
    font-size: 20px;
    line-height: 50px;
    color: #09f;
    font-weight: 500;
}