section{
    width: min(1200px, 90%);
    margin-top: 25px;
}

.recipesCtn{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
}

.spinner{
    text-align: center;
    color: grey
}

/* RECIPE ITEM */
.recipeItem{
    width: 100%;
    display: flex;
    gap: 15px;
    flex-direction: column;
    padding: 10px;
    border: 1px solid #e4e4e4;
    justify-content: space-between;
    color: #242424
}

.feature{
    padding: 5px 15px;
    font-size: 12px;
    width: fit-content;
    margin-right: 10px;
    margin-top: 10px;
    display: inline-flex;
    background-color: rgb(244, 255, 95);
    border-radius: 15px;
}

.anchor{
    text-decoration: none;
    transition: all 500ms ease;
    color: #242424;
    cursor: pointer;
}

.anchor:hover{
    text-decoration: underline;
}

.features{
    font-size: 14px;
}

.addToMenuBtn{
    min-width: 120px;
    width: fit-content;
    padding: 8px 12px;
    margin: 20px auto 0;
    border: none;
    background-color: #09f;
    border-radius: 5px;
    font-size: 14px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

/* ---------------MENU---------------- */
.menuItemsCtn{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 20px;
}
